body {
    color: #fff;
    font-size: 20px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.z1 {
    z-index: 1;
}

.z10 {
    z-index: 10;
}

.z100 {
    z-index: 100;
}

.layer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.justifycenter{
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.fs0 {
    font-size: 0;
}

.fs0 > * {
    font-size: initial;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.noaction {
    pointer-events: none;
}

input, select {
    background-color: rgba(0, 0, 0, 0);
    border: 0px none #000;
    border-bottom: 1px solid #777;
    color: #efefef;
    padding: 5px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-grow: 1;
}

input:focus {
    outline: none !important;
}

button {
    color: #fff;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    -webkit-app-region: no-drag;
    pointer-events: all;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 1px solid #777;
}

button:focus {
    background-color: rgba(0, 0, 0, 1);
    border-top: 1px solid #777;
    outline: none !important;
}

option {
    background-color: #000;
}

.list {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1vh;
}

.list > li {
    margin: 3px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list > li:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.list > li:active {
    background-color: rgba(64, 64, 64, 0.4)
}

#frame {
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.3);
    height: 3vh;
    -webkit-app-region: drag;
}

#frame > button {
    font-size: 9px;
    height: 3vh;
    line-height: 3vh;
    padding: 0 15px;
}

#controls {
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid #777;
    height: 6vh;
}