#wrapper {
    background: radial-gradient(#66666644, #22222244);
    flex-grow: 1;
    min-height: 91vh;
}

#items {
    width: 200px;
    height: 89vh;
    background-color: rgba(24, 24, 24, 0.4);
}

#item {
    width: 500px;
    height: 91vh;
    background-color: rgba(32, 32, 32, 0.4);
    flex-direction: column;
    flex-grow: 1;
    display: none;
}

.group {
    padding: 0px 20px 20px 20px;
}

.group p {
    font-size: 20px;
    line-height: 35px;
    height: 30px;
}

.group p:first-child {
    width: 140px;
}

.spr {
    width: 10vw;
    height: 10vw;
    border: 1px solid rgba(64, 64, 64, 0.5);
}

.inp_short {
    width: 60px;
    flex-grow: 0;
}

#stats {
    width: 150px;
    height: 38vh;
    margin: 0 20px 0 0;
    background-color: rgba(24, 24, 24, 0.4);
}

#demi_logo > img {
    position: relative;
    left: 270px;
    width: 512px;
}