
#message {
    display: none;
    padding: 30px;
    background-color: rgba(24, 24, 24, 0.9);
    box-shadow: 5px 5px 5px #000;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#message > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #777;
}