#grid {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(8, 12vw);
    grid-auto-rows: auto;
    max-height: 91vh;
    overflow: auto;
}

#grid > * {
    height: 11vw;
    width: 11vw;
    padding: 3px;
    background: rgba(64, 64, 64, 0.3);
    box-shadow: 5px 5px 5px #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid > *:hover {
    background: rgba(64, 64, 64, 0.4);
    box-shadow: 7px 7px 7px #000;
}

#grid > * > * {
    display: inline-block;
    margin-top: auto;
    margin: auto;
}

#wrapper {
    height: 89wh;
    background: radial-gradient(#66666644, #22222244);
    flex-grow: 1;
    min-height: 91vh;
}
